# Hello world! 

I am currently working for the local government in my home country, which is in the process of relocating its capital city to a previously forested area. The government has justified this move by emphasizing the potential for urbanization to reduce regional economic disparities and promote balanced development across the nation. This has sparked my curiosity about the broader relationship between urbanization and regional economic growth, as I aim to understand whether such a strategy can truly achieve the intended outcomes. 

Let's see if we can make use of this project to at least roughly see if there is a positive or negative correlation on that! 

**Dataset(s) to be used:** 
1. [Annual Total Population by Countries](https://population.un.org/wup/Download/Files/WUP2018-F18-Total_Population_Annual.xls)

**Analysis question:** Does urbanization reduce regional economic disparities in developing countries, and can relocating a capital city help promote balanced economic growth?

**Columns that will (likely) be used:**
  - Urban population (% of total population)
  - Regional GDP per capita
  - Urban and rural poverty rates
    
**Columns to be used to merge/join them:**
- [Dataset 1] Country and Year
- [Dataset 2] Country and Year

**Hypothesis**: Urbanization helps to reduce regional economic disparities by redistributing economic activity to secondary cities and surrounding areas. Relocating a capital city can potentially amplify this effect if accompanied by infrastructure development and inclusive urban planning.

As a starter, we will read the first dataset: Annual Urban Population from the United Nations Population Division.
Since we get the dataset from United Nations in the form of excel file, we are using the excel reader.
Before using the excel reader, when you are working with excel file in Python you might want to open them in microsoft excel first to identify if they have headers or any other unnecessary rows. In this file, the first 16 rows are just header so we want to skip them to make it easier to process the data.

In [97]:
import pandas as pd #you know the drill, importing the necessary stuff first and foremost.

file_url = "https://population.un.org/wup/Download/Files/WUP2018-F18-Total_Population_Annual.xls"

total_pop = pd.read_excel(file_url, skiprows=16)  #reading the file, skipping the first 16 rows to access actual data
total_pop.head() #checking how it looked

,Index,"Region, subregion, country or area",Note,Country\ncode,1950,1951,1952,1953,1954,1955,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,1,WORLD,NaN,900,2536274.721,2583816.786,2630584.384,2677230.358,2724302.468,2772242.535,...,9271063.273,9330845.890,9389655.929,9447454.649,9504209.572,9559909.195,9614545.440,9668093.432,9720525.979,9771822.753
1,2,More developed regions,a,901,814865.069,824212.665,834074.389,844263.515,854631.777,865069.444,...,1297774.840,1297994.139,1298159.433,1298276.382,1298349.044,1298382.202,1298376.623,1298327.412,1298226.562,1298068.585
2,3,Less developed regions,b,902,1721409.652,1759604.121,1796509.995,1832966.843,1869670.691,1907173.091,...,7973288.433,8032851.751,8091496.496,8149178.267,8205860.528,8261526.993,8316168.817,8369766.020,8422299.417,8473754.168
3,4,Least developed countries,c,941,195259.056,199052.136,202904.860,206885.020,211045.058,215421.063,...,1648390.597,1677916.857,1707547.911,1737266.944,1767059.061,1796910.693,1826811.700,1856754.484,1886733.520,1916741.581
4,5,"Less developed regions, excluding least develo...",d,934,1526150.596,1560551.985,1593605.135,1626081.823,1658625.633,1691752.028,...,6324897.836,6354934.894,6383948.585,6411911.323,6438801.467,6464616.300,6489357.117,6513011.536,6535565.897,6557012.587

We can see that the total population data has "Region, subregion, country or area" column and years column with the number of population for each country as the value under it.

Let's clean the data first by ensuring that all column names are strings and strip the whitespace, checking and identifying the column, and filter out rows that are not country-level.

In [99]:
total_pop.columns = [str(col).strip() for col in total_pop.columns]  #ensuring all column names are strings and strip whitespace

country_column = [col for col in total_pop.columns if "Region" in col][0]  #identify the actual column name for country/region, asked chatgpt how to do this without hardcoding it by using the column name.

total_pop = total_pop[total_pop["Index"].notnull()]  #filter out rows that are not country-level data, which means rows that is in the index
total_pop.columns #checking column names to find the one I'll be using

Index(['Index', 'Region, subregion, country or area', 'Note', 'Country\ncode',
       '1950', '1951', '1952', '1953', '1954', '1955',
       ...
       '2041', '2042', '2043', '2044', '2045', '2046', '2047', '2048', '2049',
       '2050'],
      dtype='object', length=105)

Based on what I am trying to find out using these available data, I want to only look at 8 particular countries mentioned in Indonesia's press release about moving its capital city that can be read [here](https://ikn.go.id/storage/press-release/2019/en/eng-3-siaran-pers-indonesia-learns-from-brazils-experience-in-relocating-its-capital-city.pdf). 

The 8 countries mentioned was:
1. Brazil (1960),
2. Malaysia (1999),
3. South Korea (2007),
4. Kazakhstan (1997),
5. Australia (1913),
6. Pakistan (1963),
7. Nigeria (1991), and
8. Egypt (Ongoing)

The year inside the bracket are the year when they moved their capital city. Since Egypt is still in an ongoing process, we cannot really see the progress yet. and since 1913 is waaay off before the available years in the dataset, we cannot analyze Australia too.
So from now, let's focus on the 6 countries by filtering the dataset!

In [83]:
countries_of_interest = ["Brazil", "Malaysia", "Dem. People's Republic of Korea", "Kazakhstan", "Pakistan", "Nigeria"]

filtered_totalpop = total_pop[total_pop['Region, subregion, country or area'].isin(countries_of_interest)]

filtered_totalpop

,Index,"Region, subregion, country or area",Note,Country\ncode,1950,1951,1952,1953,1954,1955,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
71,72,Nigeria,NaN,566,37859.744,38423.978,39035.145,39685.757,40370.373,41085.563,...,340610.467,348129.233,355723.613,363388.543,371119.359,378911.776,386762.397,394668.494,402627.873,410637.868
82,83,Dem. People's Republic of Korea,NaN,408,10549.472,10248.496,10049.029,9957.242,9972.436,10086.991,...,27030.232,27020.983,27007.159,26989.131,26967.265,26941.830,26913.047,26881.134,26846.286,26808.680
88,89,Kazakhstan,NaN,398,6702.991,6831.323,7041.797,7315.651,7636.830,7991.998,...,21758.673,21896.943,22035.402,22173.301,22309.977,22445.138,22578.426,22709.123,22836.340,22959.432
101,102,Pakistan,NaN,586,37542.376,37975.281,38483.891,39063.874,39711.643,40424.296,...,280687.458,283842.283,286951.906,290007.941,293003.264,295934.020,298797.474,301589.116,304304.572,306940.443
108,109,Malaysia,8,458,6109.915,6271.486,6450.083,6640.041,6837.358,7039.719,...,39899.761,40123.869,40341.496,40553.598,40760.928,40963.843,41162.327,41356.264,41545.333,41729.217
227,228,Brazil,NaN,76,53974.729,55619.224,57307.476,59030.858,60784.892,62569.196,...,231925.066,232197.512,232420.421,232595.537,232724.279,232807.383,232845.132,232837.778,232785.372,232688.044

In [108]:
filtered_totalpop.columns

Index(['Index', 'Region, subregion, country or area', 'Note', 'Country\ncode',
       '1950', '1951', '1952', '1953', '1954', '1955',
       ...
       '2041', '2042', '2043', '2044', '2045', '2046', '2047', '2048', '2049',
       '2050'],
      dtype='object', length=105)

In [114]:
# Select columns of interest
columns_of_interest = [country_column, '1960', '1999', '2007', '1997', '1963']  # Adjust as needed
filtered_totalpop = filtered_totalpop[columns_of_interest]

# Rename the main country column for clarity
filtered_totalpop.rename(columns={country_column: 'Country'}, inplace=True)

# Filter the dataset for specific countries
countries_of_interest = ["Brazil", "Malaysia", "Dem. People's Republic of Korea", "Kazakhstan", "Pakistan", "Nigeria"]
filtered_totalpop = filtered_totalpop[filtered_totalpop['Country'].isin(countries_of_interest)]
filtered_totalpop

KeyError: "['Region, subregion, country or area'] not in index"

5 data points GDP, 5 data points kemiskinan
2 line charts (GDP and Urban poverty)